:root{
    --pink: #EE7EA4;
    --pink-light:#FFAECA;
    --purple:#BF9AF1;
    --purple-shadow:#785EA7;
    --white: #ffff;


}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
}

body{
    background-image: linear-gradient( to left, var(--pink) , 
    var(--purple) );
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.cabecalho-main{
    border-bottom: var(--pink) solid 2px;
}

main{

    background-color: var(--white);
    border-radius: 0px 20px 0px 20px;
    padding: 50px;
    height: 500px;
    width: 260px;
    border: 3px solid var(--purple-shadow);
    box-shadow: 10px 5px 0px var(--purple-shadow);
   
}

.nav-bar{
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: var(--pink) solid  2px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    color: var(--purple-shadow) ;
    padding: 15px;
    transition: 0.5s;
}

h1:hover{
    color: var(--pink)
}

.img-icon{
    height: 150px;
    width: 150px;
    padding: 10px;
    transition: 1.3s;
   
}

.img-icon:hover{
    /* filter: drop-shadow(5px 5px 0px var(--purple-shadow)); */
    rotate: 360deg;
}





.link{
    color: var(--pink);
    border: solid 3px var(--pink);
    box-shadow: 5px 5px 0px var(--pink);
    font-size: 25px;
    background-color: var(--white);
    border-radius: 0px 20px 0px 20px ;
    transition: 0.5s;
    position: relative;
    padding: 10px;
   


}

.link:hover{
    color: var(--white);
background-color: var(--pink-light);
box-shadow: 2px 2px 0px var(--pink);
}
 