:root{
    --pink: #EE7EA4;
    --pink-light:#FFAECA;
    --purple:#BF9AF1;
    --purple-shadow:#785EA7;
    --white: #ffff;


}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
}

body{
    background-image: linear-gradient( to right, var(--pink) , 
    var(--purple) );
    /* background: linear-gradient( to right, pink purple); */
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.cabecalho-main{
    border-bottom: var(--pink) solid 1px;
}

main{

    background-color: var(--white);
    border-radius: 0px 20px 0px 20px;
    padding: 50px;
    height: 500px;
    width: 260px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.322);
   
}

.nav-bar{
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: var(--pink) solid  1px;
}

h1{
    color: var(--purple-shadow) ;
    padding: 15px;
    transition: 0.5s;
}

h1:hover{
    color: var(--pink)
}

.img-icon{
    height: 150px;
    width: 150px;
    padding: 10px;
}

li{
    list-style: none;
    padding: 30px;

}



.link{
    color: var(--white);
    font-size: 25px;
    background-color: var(--pink);
    border-radius: 0px 20px 0px 20px ;
    transition: 0.5s;
    padding: 5px 40%;
    position: relative;
   


}

.link:hover{
    background-color: var(--purple-shadow);
}
 