:root{
    --pink: #EE7EA4;
    --pink-light:#FFAECA;
    --purple:#BF9AF1;
    --purple-shadow:#785EA7;
    --white: #ffff;


}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
}

body{
    background-image: linear-gradient( to left, var(--pink) , 
    var(--purple) );
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.cabecalho-main{
    border-bottom: var(--pink) solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(192, 192, 192);
    padding: 9px;
    
}

/* .info:hover h4{
    transition: 1s;
    color: #785EA7;
} */


main{
    /* background: linear-gradient(to top, white, white, white, transparent); */
    background-color: var(--white);
    border-radius: 0px 20px 0px 20px;
    padding: 50px;
    height: 530px;
    width: 270px;
    border: 3px solid var(--purple-shadow);
    box-shadow: 10px 5px 0px var(--purple-shadow);
   
}

.nav-bar{
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: var(--pink) solid  2px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    color: var(--purple-shadow) ;
    padding: 15px;
    transition: 0.5s;
}

h1:hover{
    color: var(--pink)
}


h3{
    transition: 0.5s;
}

h3:hover{
    color: var(--purple-shadow);
}
.icon-location{
    height: 20px;
}


/* image perfil animação ---------------------------------------*/
.inner{
    width: 130px;
    height: 125px;
}

.img-perfil{
width: 100%;
height: 100%;
transition: .9s;
filter: drop-shadow(5px 5px 5px rgba(128, 128, 128, 0.247));
/* transform-style: preserve-3d; */
}

.inner:hover .img-perfil{
    transform: rotateY(360deg); /*rotaciona a imagem no eixo y */
}





/* links-------------------------------------------- */
.link{
    color: var(--pink);
    border: solid 3px var(--pink);
    box-shadow: 5px 5px 0px var(--pink);
    font-size: 25px;
    background-color: var(--white);
    border-radius: 0px 20px 0px 20px ;
    transition: 0.5s;
    padding: 10px;
   


}

.link:hover{
    color: var(--white);
background-color: var(--pink-light);
box-shadow: 2px 2px 0px var(--pink);
}
 